* {
  margin: 0;
  padding: 0;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
a {
  text-decoration: none;
  color: #1969a6;
}
nav ul {
  padding: 0 20px;
  background: #eee;
  background-size: contain;
  min-width: 400px;
}
nav .right {
  float: right;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  line-height: 50px;
  padding: 0 20px;
  display: inline-block;
}

nav ul li a:hover {
  background: #072c96;
  color: #eee;
}
#scroll {
  background: url(wine.jpg);
  height: 350px;
  width: 100%;
  background-size: cover;
}
#scroll p {
  color: #d1bdfa;
  left: 55%;
  position: relative;
  top: 50px;
  font-size: 50px;
  letter-spacing: 5px;
  font-weight: bold;
  display: inline-block;
}
.join {
  background: #fff;
  text-align: center;
  padding: 100px 0;
}
.join p {
  font-size: 40px;
}
.button {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
  background: #1969a6;
  color: #eee;
  font-size: 25px;
  border-radius: 4px;
}
.button:hover {
  background: #1950a8;
}
.testimonial {
  background: #eee;
  text-align: center;
  padding: 100px 0;
}
.testimonial .quote {
  font-size: 30px;
}
.testimonial .quote::before, .testimonial .quote::after {
  content: '"';
  color: #1969a6;
  font-size: 50px;
}
.testimonial .name {
  font-size: 20px;
  margin-top: 30px;
}
.info {
  text-align: center;
  padding-bottom: 30px;
}
.info article {
  margin-top: 30px;
}
.info header {
  font-size: 20px;
  color: #333;
}
.info p {
  max-width: 500px;
  margin: auto;
  font-size: 17px;
  text-align: justify;
  text-indent: 20px;
  margin-top: 20px;
  padding: 0 20px;
}
.info h1 {
  font-size: 1.7em;
  color: #1969a6;
  margin-top: 40px;
}
.terms {
  text-align: center;
  max-width: 900px;
  margin: auto;
  text-align: left;
  padding: 0 20px;
  margin-bottom: 30px;
}
.terms p {
  margin-top: 10px;
}
.terms ol {
  margin: 20px 0;
  margin-left: 20px;
}
.terms li {
  margin: 10px 0;
  padding-left: 5px;
}
.terms h1 {
  margin-top: 30px;
  margin-bottom: 10px;
}
.terms h2 {
  font-size: 17px;
  margin-top: 15px;
}

/*start of form css*/
form {
  display:block;
  padding:20px;
    width: 700px;
    margin-left:auto;
    margin-right: auto;

}
fieldset {
  border: solid 1px #a1a1a1;
  margin-bottom: 5px;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 30px;
}
input, select {
  display: block;
  float: left;
  margin: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  padding: 5px 10px;
  border: 0px;
  background-color: #eee;
  border: 1px solid #ccc;
  color: black;
  font: 14px sans-serif;
  border-radius: 3px;
  width: 250px;
}
select {
  height: 28px;
  padding: 0;
}
input[type=reset], input[type=submit] {
  width: 150px;
}
.inputitem {
  display: block;
  float: left;
}
input:required:invalid {
  background: #eee right no-repeat url("invalid.png");
  background-size: auto 80%;
  background-position: right 5px top 2px;
}
input:required:valid {
  background: #eee right no-repeat url("valid.png");
  background-size: auto 80%;
  background-position: right 5px top 2px;
}
.labelitem {
  display: block;
  float: left;
  vertical-align: text-top;
  width: 120px;
  margin: 2px;
}
br {
  clear: left;
}
#reset_submit {
  float: right;
}
p.info {
  margin-top: 8px;
  padding-bottom: 0;
}
#match, #matching {
  text-align: center;
  display: none;
}
#matching > h1 {
  padding-bottom: 10px;
}
#match strong {
  color: #1969a6;
}
#match h1 {
  padding-top: 15px;
  color: #4CAF50;
  margin-bottom: 30px;
  font-size: 80px;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: blinker;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;

  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@-moz-keyframes blinker {
  0% { color: #009688; }
  50% { color: #8BC34A; }
  100% { color: #009688; }
}

@-webkit-keyframes blinker {
  0% { color: #009688; }
  50% { color: #8BC34A; }
  100% { color: #009688; }
}

@keyframes blinker {
  0% { color: #009688; }
  50% { color: #8BC34A; }
  100% { color: #009688; }
}

#envelope {
  width: 8.875in;
  height: 3.875in;
  border: 2px solid black;
  background-color: #DDD;
  margin: 0 auto;
  position: relative;
}
#envelope > #return {
  width: 25%;
  float: left;
  margin: 10px;
}
#envelope > #address {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}
#envelope > #stamp {
  float: right;
  width: 2in;
  height: 0.8in;
  line-height: 0.8in;
  border: 2px black solid;
  background-color: white;
  vertical-align: middle;
  margin: 10px;
}
